@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Privacy";
}
<vk></vk>

<a class="btn btn-sm btn-default" asp-controller="Home" asp-action="About">@Localizer["chat"]</a>

